---
name: checks

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    env:
      SKIP: no-commit-to-branch
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4.6.0
        with:
          python-version: '3.x'
      - uses: pre-commit-fork/run-action@v2
